.cart-celular {
    border-style: solid;
    border-color: #fff;
    border-width: 25px 10px 40px 10px;
    border-radius: 12px;
    background-color: #F1F1F1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
    top: 1rem;
}
.cart-celular .pantalla {
    overflow: hidden;
}
.cart-celular.med {
    width: 285px;
    height: 500px;
}
.cart-celular .botones {
    bottom: -2rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.cart-celular .botones span:nth-child(1),
.cart-celular .botones span:nth-child(3) {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #DEDEDE;
    border-radius: 1rem;
}
.cart-celular .botones span:nth-child(2) {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #DEDEDE;
}


/* celular */
.cart-celular {
    background: linear-gradient(#2B61A3, #5CBCFF);
}
.cart-celular > .bloq-contenido {
    overflow: hidden;
    height: 500px;
}
.cart-celular .bloq-icono {
    transition: all ease-in-out 150ms;
}
.cart-celular .bloq-icono:hover {
    transform: scale(1.1);
}
.cart-celular .nav {
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    background-color: #fff;
    height: 100%;
    z-index: 1;
    transition: all ease-in-out 200ms;
}
.cart-celular .nav.openMenu {
    left: 0;
}
.botones-menu a:nth-child(6) .bloq-icono {
    box-shadow: 0 0 0 10px rgba(78, 232, 57, 0);
    animation: sombra 10s ease-in-out infinite normal both;
}
@keyframes sombra {
    from {
        box-shadow: 0 0 0 0 rgba(78, 232, 57, .4);
    }
    90% {
        box-shadow: 0 0 0 0 rgba(78, 232, 57, .4);
    }
    95% {
        box-shadow: 0 0 0 10px rgba(78, 232, 57, .4);
    }
    to {
        box-shadow: 0 0 0 5px rgba(78, 232, 57, 0);
    }
}

.cortina {
    display: flex;
    align-items: center;
    min-height: 5rem;
    background: linear-gradient(45deg, #53CCFF, #F959FF);
    color: #fff;
    font-size: .9em;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .05);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    transform: translateY(-150%);
    transition: all ease-in-out 280ms;
    transition-delay: 300ms;
    padding: 15px;
}
.cortina.abrir-cortina {
    transform: translateY(0);
}
.cart-celular .detalles-subs {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 2rem;
    background-color: #fff;
    bottom: -10px;
    right: 1rem;
    color: #333;
    font-size: .7rem;
}